.landingPageHeader {
  font-family: 'Alex Brush', cursive;
  text-align: center;
  font-size: 35px;
}

.services {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.5rem;
  margin-right: 10%;
  margin-left: 10%;
  justify-content: space-between;
  text-align: center;
}

.servicesHeader {
  font-family: 'Marck Script', cursive;
  text-align: center;
  font-size: 25px;
}
.servicesTitle {
  margin-bottom: 20px;
}

hr {
  background-color: black;
  border: none;
  height: 1px;
}

.serviceCard {
  margin: 5px;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
}

.contact {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: 'Marck Script', cursive;
  font-size: 20px;
  padding-top: 1px;
}

@media only screen and (max-width: 900px) {
  .services {
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.contactInfo {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 10px;
}

.openingHours {
  padding: 5px;
}

.servicesList {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
}
