.landingPageHeader {
  font-family: 'Alex Brush', cursive;
  text-align: center;
  font-size: 35px;
}

.services {
  background-color: black;
  color: white;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.contact {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Marck Script', cursive;
  font-size: 20px;
  padding-top: 1px;
}

.contactInfo {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding: 10px;
}
